{{{ themeSettings.widgets.beforeWidget.prefix }}} widget_text {{{ themeSettings.widgets.beforeWidget.suffix }}}
{{# widgets.textWidget.title }}{{{ themeSettings.widgets.beforeTitle }}}{{ widgets.textWidget.title }}{{{ themeSettings.widgets.afterTitle }}}{{/ widgets.textWidget.title }}

<div class="textwidget">{{{ widgets.textWidget.text }}}</div>

{{{ themeSettings.widgets.afterWidget }}}
