{{{ themeSettings.widgets.beforeWidget.prefix }}} widget_text {{{ themeSettings.widgets.beforeWidget.suffix }}}
{{{ themeSettings.widgets.beforeTitle }}}{{ widgets.textWidget.title }}{{{ themeSettings.widgets.afterTitle }}}

<div class="textwidget">{{{ widgets.textWidget.text }}}</div>

{{{ themeSettings.widgets.afterWidget }}}
