{{{ themeSettings.widgets.beforeWidget.prefix }}} widget_search {{{ themeSettings.widgets.beforeWidget.suffix }}}<!--

{{# widgets.search.title }}
-->{{{ themeSettings.widgets.beforeTitle }}}{{ widgets.search.title }}{{{ themeSettings.widgets.afterTitle }}}<!--
{{/ widgets.search.title }}

-->{{> widgets-search-form }}<!--

-->{{{ themeSettings.widgets.afterWidget }}}