{{{ themeSettings.widgets.beforeWidget.prefix }}} widget_tag_cloud {{{ themeSettings.widgets.beforeWidget.suffix }}}
{{{ themeSettings.widgets.beforeTitle }}}{{ widgets.tagCloud.title }}{{{ themeSettings.widgets.afterTitle }}}
<div class="tagcloud" data-styleguide-seperator="{{ widgets.tagCloud.seperator }}">
	{{# listItems.twelve }}
		<a href="#" style="font-size: {{ random.tagFont }}px">{{ excerpt.tiny }}</a>
	{{/ listItems.twelve }}
</div>

{{{ themeSettings.widgets.afterWidget }}}
