{{{ themeSettings.widgets.beforeWidget.prefix }}} widget_categories {{{ themeSettings.widgets.beforeWidget.suffix }}}
{{{ themeSettings.widgets.beforeTitle }}}{{ widgets.category.title }}{{{ themeSettings.widgets.afterTitle }}}<!--

{{# widgets.category.asDropdown }}
--><label class="screen-reader-text" for="cat">
	{{ widgets.category.title }}
</label><!--
--><select name='cat' id='cat' class='postform' >
	{{# listItems.five }}
	<option value="{{ minute.short }}" class="level-0">{{ excerpt.tiny }}{{# widgets.category.showPostCount }}&nbsp;({{ minute.short }}){{/ widgets.category.showPostCount }}</option>
		{{# widgets.category.showHierarchy }}
		{{# random.tf }}
			{{# listItems.two }}
			<option value="{{ minute.short }}" class="level-1">&nbsp;&nbsp;{{ excerpt.tiny }}{{# widgets.category.showPostCount }}&nbsp;({{ minute.short }}){{/ widgets.category.showPostCount }}</option>
			{{/ listItems.two }}
			{{/ random.tf }}
		{{/ widgets.category.showHierarchy }}
		{{/ listItems.five }}
</select>
{{/ widgets.category.asDropdown }}

{{^ widgets.category.asDropdown }}
-->
<ul>
	{{# listItems.five }}
	<li class="cat-item cat-item-{{ minute.short }}"><a href="{{ url }}">{{ excerpt.tiny }}</a>
		{{# widgets.category.showPostCount }}
		({{ minute.short }})
		{{/ widgets.category.showPostCount }}
		{{# widgets.category.showHierarchy }}
		{{# random.tf }}
		<ul class='children'>
			{{# listItems.two }}
			<li class="cat-item cat-item-{{ minute.short }}"><a href="{{ url }}">{{ excerpt.tiny }}</a>
				{{# widgets.category.showPostCount }}
				({{ minute.short }})
				{{/ widgets.category.showPostCount }}
			</li>
			{{/ listItems.two }}
		</ul>
		{{/ random.tf }}
		{{/ widgets.category.showHierarchy }}
	</li>
	{{/ listItems.five }}
</ul>
{{/ widgets.category.asDropdown }}


{{{ themeSettings.widgets.afterWidget }}}