{{{ themeSettings.widgets.beforeWidget.prefix }}} widget_pages {{{ themeSettings.widgets.beforeWidget.suffix }}}<!--
-->{{{ themeSettings.widgets.beforeTitle }}}{{ widgets.pages.title }}{{{ themeSettings.widgets.afterTitle }}}


<ul>
	{{# listItems.one }}
	<li class="page_item page-item-{{ minute.short }}"><a href="{{ url }}">{{ excerpt.tiny }}</a></li>
	{{/ listItems.one }}
	{{# listItems.four }}
	<li class="page_item page-item-{{ minute.short }}"><a href="{{ url }}">{{ excerpt.tiny }}</a>
		<ul class='children'>
			{{# listItems.two }}
			<li class="page_item page-item-{{ minute.short }}"><a href="{{ url }}">{{ excerpt.tiny }}</a></li>
			{{/ listItems.two }}
		</ul>
	</li>
	{{/ listItems.four }}
</ul>


{{{ themeSettings.widgets.afterWidget }}}