{{{ themeSettings.widgets.beforeWidget.prefix }}} widget_nav_menu {{{ themeSettings.widgets.beforeWidget.suffix }}}<!--

{{# widgets.menu.title }}
-->{{{ themeSettings.widgets.beforeTitle }}}{{ widgets.menu.title }}{{{ themeSettings.widgets.afterTitle }}}<!--
{{/ widgets.menu.title }}

-->{{> widgets-menu-template }}<!--


-->{{{ themeSettings.widgets.afterWidget }}}